.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;

  a {
    margin-top: 30px;
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
  }

  span {
    font-size: 15px;
    margin-bottom: 8px;
  }
}

.home__bicycle {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 370px;
}

#bicycle {
  position: absolute;
  right: -600px;
  width: 100%;
  height: 340px;

  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
