.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;

  a {
    margin-top: 30px;
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
  }

  span {
    font-size: 15px;
    margin-bottom: 8px;
  }
}

.home__bicycle {
  width: 60%;
  margin-top: 30px;
  margin-bottom: 40px;
}
